<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow CityGuide to perform speech recognition for voice search functionality</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow CityGuide to access your microphone to perform voice search functionality</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Help us navigate by allowing us to view your location</string>
	<key>NSLocationUsageDescription</key>
	<string>Help us navigate by allowing us to view your location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Help us navigate by allowing us to view your location</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We require the use of Bluetooth Peripheral Usage for path finding</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We require the use of Bluetooth to connect to beacons for path finding</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://wh-308-3922mm.dyn.wichita.edu:5000</key>
			<string></string>
		</dict>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
